[Unit]
Description=Kubeadm Initialization
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=root
Environment="HOME=/root"
ExecStart="/{{ kubernetes_kubeadm_init_script_path }}"
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
